<% provide(:page_title, @problem.title) %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @problem.title %>
</p>

<p>
  <strong>Complaint:</strong>
  <%= @problem.complaint %>
</p>

<p>
  <strong>Examination:</strong>
  <%= @problem.examination %>
</p>

<p>
  <strong>Advice:</strong>
  <%= @problem.advice %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @problem.slug %>
</p>

<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
